@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');

body {
	padding: 3.5rem;
}
.bg-lalala{
	background:hsla(16,70%,40%);
}

.bg-lalala:hover{
	
}

body{

	background:white;
	font-family: 'IBM Plex Mono', monospace;
	font-weight: 400;
}

h1,h2,h3,h4,h5,h6{
	font-weight: 700
 }

 img {
 	border: 5px color:rgb(153, 0, 51);
 	box-shadow: 0 0 5px rgba(0,0,0,.5);
 	border-radius: 20px;
 	border-color:blue
 }
div[class[^="col"] {
	padding-top: 3rem;
}